.footer{    
    background-color: black;
    ul li a{
        text-decoration: none;
    }
    a , h5{
        color: white;
    }
    .footer-icon{
        padding-left: 10px;
    }
    .footer-phone{
        font-size: 20px;
    }
}


