.footer{
    background-color: $primary-color;
    a , h5{
        color: $tertiary-color;
        &:hover{
            color: $secondary-color;
        }
    }
    
    ul li a{
        text-decoration: none;
    }

    .footer-icon{
        padding-left: 10px;
        font-size: 35px;
    }
    .footer-phone, .footer-email{
        font-size: 20px;
        text-decoration: none;
        &.footer-email{
            font-size: 15px;
        }
    }
}


