.home {

    h1,
    h2 {
        padding: 10px 0 20px 0;
    }

    section {
        padding: 20px 0 20px 0;

        &.slider {
            padding-top: 0;
        }
    }

    i+p {
        padding-top: 15px;
    }

    .centered {
        text-align: center;
    }

    //Responsive
    @media screen and (max-width: $break-small) {
        .arrow {
            display: none;
        }

        .row {
            i+div {
                padding-top: 20px;
            }
        }
    }
}

.mb-register {
  margin-bottom: 4.5rem !important;
}

.mb-login {
  margin-bottom: 6.7rem !important;
}

.mt-register {
    margin-top: 4rem !important;
}
  
.mt-login {
    margin-top: 6rem !important;
}
