.featured-products {
    a {
        color: $primary-color;
    }

    .price-before {
        text-decoration: line-through;
    }

    .price-now {
        padding-left: 20px;
        font-weight: bold;
    }

    //Responsive
    @media screen and (max-width: $break-small) {
        .card-deck .card {
            width: 100% !important;
        }
    }
}
