// Body
$body-bg: white;

// Typography
$font-family-sans-serif: "Nunito",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-color: black;
$secondary-color: #B0B0B0;
$tertiary-color: white;

//Responsive
$break-small: 415px;
$break-med: 800px;
$break-large: 1200px;
